
h1, h2 {
        font-size: x-large;
        font-family: Arial, Helvetica, sans-serif;
        font: arial;
        color: white;
}

.img {
        float: left;
        padding-right: 15px;	
	    padding-left: 15px;
        width: 50%;
        margin: auto;
}

p {
    font-size: medium;
    font: sans-serif;
    font-family: 'Monsterrat', sans-serif;
    color: white;
}

.doc-container {
    color: black;
}

.doc-card {
    float: right;
    overflow-wrap: break-word;  
    word-wrap: break-word;     
    white-space: normal;   
    padding-right: 15px;	
	padding-left: 15px;
    width: 50%;
    margin: auto;
}

.doc-description {
    float: right;
    overflow-wrap: break-word; 
    word-wrap: break-word;    
    white-space: normal;   
    padding-right: 15px;	
	padding-left: 15px;
    margin: auto;
    max-width: 900px;
    width: 90%;
}

.meta {
    float: right;
    overflow-wrap: break-word;   
    word-wrap: break-word;      
    white-space: normal;
    color: white;
    padding-right: 15px;	
	padding-left: 15px;
    margin: auto;
    max-width: 900px;
    width: 90%;
}

