*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar{
    background:#2b2d42;
    height: 100px;
    display:flex;
    justify-content:center;
    align-items: center;
    font-size:1.2rem;
    position:sticky;
    top:0;
    z-index:999;
}

.navbar__container{
    display:flex;
    justify-content:space-between;
    height:100px;
    z-index:1;
    width:100%;
    max-width:1300px;
    margin:0 auto;
    padding:0 50px;
}

#navbar__logo{
    background-color:aliceblue;
    background-image:linear-gradient(to top,#ffffff 0%,#686d9c 100%);
    background-size:100%;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    display:flex;
    align-items: center;
    cursor:pointer;
    text-decoration:none;
    font-size: 2rem;
}



body {
  margin: 0;
  font-family: Georgia, serif;
  background-color: #f9f9f9;
}

.layout {
  display: flex;
  min-height: 100vh;
  max-height: 150vh;
}

.genreFilter{
    height: 40%;
}

.filter-section {
  width: 10%;
  padding: 20px 10px;
  float:left;
  
}

.filter-section h2 {
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
}

.value {
  display: flex;
  flex-direction: column;
  gap: 0;
}


.genre-card {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-top: 1px solid #ccc;
  background-color: rgb(239, 239, 239);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  float: left;
max-height: 10%;
width: 150%;
}

.genre-card:first-child {
  border-top: none;
  border-radius: 8px 8px 0 0;
}

.genre-card:last-child {
  border-radius: 0 0 8px 8px;
  border-bottom: 1px solid #ccc;
}

.genre-card:hover {
  background-color: #e0e0e0;
}

.genre-card.active {
  background-color: rgb(123, 122, 122);;
  color: white;
}

.platform-card {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-top: 1px solid #ccc;
  background-color: rgb(239, 239, 239);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  float: left;
max-height: 10%;
width: 150%;
}

.platform-card:first-child {
  border-top: none;
  border-radius: 8px 8px 0 0;
}

.platform-card:last-child {
  border-radius: 0 0 8px 8px;
  border-bottom: 1px solid #ccc;
}

.platform-card:hover {
  background-color: #e0e0e0;
}

.platform-card.active {
  background-color: rgb(123, 122, 122);
  color: white;
}

.length-card {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-top: 1px solid #ccc;
  background-color: rgb(239, 239, 239);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  float: left;
max-height: 10%;
width: 150%;
}

.length-card:first-child {
  border-top: none;
  border-radius: 8px 8px 0 0;
}

.length-card:last-child {
  border-radius: 0 0 8px 8px;
  border-bottom: 1px solid #ccc;
}

.length-card:hover {
  background-color: #e0e0e0;
}

.length-card.active {
  background-color: rgb(123, 122, 122);
  color: white;
}


#platformFilter{
    width: 115%;
    margin-left: 10px;
    margin-right:10px;
    margin-bottom:5px;
    margin-top:10x;
    padding:5px;
    font: Georgia;
    font-size: large;
    border-bottom: rgb(151, 151, 151) solid 2px;
}

#lengthFilter{
    width: 115%;
    margin-left: 10px;
    margin-right:10px;
    margin-bottom:5px;
    margin-top:10x;
    padding:5px;
    font: Georgia;
    font-size: large;
    border-bottom: black solid 2px;
}
.doc-card {
    width: 100%;
    height: 285px;
    max-height: 115%;
    background-color: rgb(245, 241, 241);
    border-radius: 2%;
    margin-top:0.5px;
    margin-bottom: 0.5px;
    box-shadow: 1px 1px rgba(0,0,0,0.2);
    padding:5px;
}

.doc-card img {
  width: 300px;
max-width: 100%;
  height: 200px;
max-height:70% auto;
  border-radius: 2%;
  display: block;
  margin: 5px auto;


}
.doc-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5px;
    margin: 10px;
    padding: 10px;
    float:right;
    width:85%;
    border-left: rgb(151, 151, 151) solid 2px;


}

h3 {
    max-width:300px;
    text-align: center;
    font: Georgia;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}


