*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.navbar{
    background:#2b2d42;
    height: 100px;
    display:flex;
    align-items: center;
    font-size:1.2rem;
    position:sticky;
    top:0;
    justify-content:space-between;
}

.navbar__container{
    height:100%;
    z-index:1;
    width:100%;
    margin:0 auto;
    padding: 1% 0%;
    display: flex;
    justify-content:space-between;
    align-items: center;

}

#navbar__logo{
    background-color:aliceblue;
    background-image:linear-gradient(to top,#ffffff 0%,#686d9c 100%);
    background-size:100%;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    align-items: center;
    cursor:pointer;
    text-decoration:none;
    font-size: 3vw;
    font-weight: bolder;
    float:left;
    padding:1%;
    display:flex;

}

#header-img{
    float:left;
    width: auto;
    height: 100%;
    display:flex;
    gap: 0rem;
}

#aboutbutton {
      width:fit-content;
      height: fit-content;
      margin: 1%;
      padding:0.85%;
      background-color: #ffffff;
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-size: 1vw;
      border-radius: 0.75vh;
      font-weight: 500;
      transition: 0.2s;
      display:flex;
      justify-content:space-between;
      margin-left:auto;
}

#contactbutton {
      width:fit-content;
      height: fit-content;
      margin: 1%;
      padding:0.85%;
      background-color: #ffffff;
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-size: 1vw;
      border-radius: 0.75vh;
      font-weight: 500;
      transition: 0.2s;
      display:flex;
      float:right;
      display:flex;
      justify-content:space-between;
}


body {
  margin: 0;
  background-color: #f9f9f9;
}

.layout {
  display: flex;
  min-height: 100vh;
  max-height: 150vh;
}

.genreFilter{
    height: 40%;
}

.filter-section {
  width: 15%;
  padding: 10px;
  float:left;
  display:inline-block;

}

.filter-section label{
    background-color: rgb(239, 239, 239);
    text-align: center;
    padding:3%;
    width:100%;
    display:flex;
    margin-bottom: -2px;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 700;
    border-top: none;
  border-radius: 0.75vh 0.75vh 0 0;
    margin-top:3%;
}

label{
  font-size: 1.3vw;
}

.filter-section h2 {
  margin-bottom: -4vh;
  padding:3%;
  font-size: 1.65vw;
  text-align: center;
  width:100%;
background-color: rgb(239, 239, 239);
border-top: none;
  border-radius: 0.75vh;
  margin-top:3%;
}

.value {
  display: flex;
  flex-direction: column;
}


.genre-card {
  padding: 4%;
  font-size: 1vw;
  border: none;
  border-top: 1px solid #ccc;
  background-color: rgb(239, 239, 239);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  float: left;
max-height: 10%;
width: 100%;
}


.genre-card:last-child {
  border-radius: 0 0 0.75vh 0.75vh;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10%;
}

.genre-card:hover {
  background-color: rgb(189, 188, 188);
}

.genre-card.active {
  background-color: rgb(189, 188, 188);
  color: white;
}

.platform-card {
  padding: 4%;
  font-size: 1vw;
  border: none;
  border-top: 1px solid #ccc;
  background-color: rgb(239, 239, 239);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  float: left;
max-height: 10%;
width: 100%;

}


.platform-card:last-child {
  border-radius: 0 0 0.75vh 0.75vh;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10%;
}


.platform-card:hover {
  background-color: #e0e0e0;
}

.platform-card.active {
  background-color: rgb(189, 188, 188);
  color: white;
}

.length-card {
  padding: 4%;
  font-size: 1vw;
  border: none;
  border-top: 1px solid #ccc;
  background-color: rgb(239, 239, 239);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  float: left;
max-height: 10%;
width: 100%;
}


.length-card:last-child {
  border-radius: 0 0 0.75vh 0.75vh;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10%;
}

.length-card:hover {
  background-color: #e0e0e0;
}

.length-card.active {
  background-color: rgb(189, 188, 188);
  color: white;
}


#platformFilter{
    width: 115%;
    margin-left: 10px;
    margin-right:10px;
    margin-bottom:5px;
    margin-top:10x;
    padding:5px;
    font-size: 1.3vw;
    border-bottom: rgb(151, 151, 151) solid 2px;
}

#lengthFilter{
    width: 115%;
    margin-left: 10px;
    margin-right:10px;
    margin-bottom:5px;
    margin-top:10x;
    padding:5px;
    font-size: 1.3vw;
    border-bottom: black solid 2px;
}
.doc-card {
    aspect-ratio: 5/3;
    max-width:19vw;
    width:auto;
    height:16.5vw;
    background-color: rgb(245, 241, 241);
    border-radius: 0.75vh;
    margin-top:0.5px;
    margin-bottom: 0.5px;
    box-shadow: 1px 1px rgba(0,0,0,0.2);
    padding:5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}

.doc-card img {
  aspect-ratio: 5/3;
  width: auto;
  max-width:16vw;
  height: auto;
  max-height:20vh;
  border-radius: 0.75vh;
  display: block;
  margin: 0.5vh auto;
  margin-bottom: -2px;



}
.doc-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 19vw));
    gap: 0.5rem;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    float:right;
    width:85%;
    border-left: rgb(151, 151, 151) solid 0.2vw;


}

h3 {
    font-size:1.3vw;
    max-width:300px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;

}

h4 {
    font-size: 1vw;
    text-align: center;
    padding: 0px;
    margin:0px;
    color: rgb(169, 169, 169);
    max-width:100%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;

}




