.img {
        padding-right: 15px;	
	    padding-left: 15px;
        margin: 15px;
        max-width: 400px;
}

p {
    font-size: medium;
    font: sans-serif;
    font-family: 'Monsterrat', sans-serif;
    color: white
}

.doc-container {
    color: black;
    max-width: 900px;
}

.doc-details {
    float: right;
    overflow-wrap: break-word;  
    word-wrap: break-word;     
    white-space: normal;   
    padding-right: 15px;	
	padding-left: 15px;
    width: 50%;
    max-width: 900px;
}

.doc-details h1 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: sans-serif;
    text-align: center;
}

.doc-description {
    float: right;
    overflow-wrap: break-word; 
    word-wrap: break-word;    
    white-space: normal;   
    padding-right: 15px;	
	padding-left: 15px;
    margin-top: 20px;
    max-width: 900px;
    width: 90%;
    color: white;
    background-color: grey;
    border-radius: 20px;
    border-color: grey;
    max-width: 900px;
    font-size: medium;
}

.doc-description p {
    color: white;
    text-align: center;
}

.meta {
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-wrap: break-word;   
    word-wrap: break-word;      
    white-space: normal;
    color: rgb(0, 0, 0);
    padding-right: 15px;	
	padding-left: 15px;
    margin-top: 20px;
    max-width: 900px;
    width: 90%;
    text-align: center;
    max-width: 900px;
    font-style: italic;
}

