.img {
        padding-right: 15px;	
	    padding-left: 15px;
        margin: 15px;
}

.responsive {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

p {
    font-size: medium;
    font: sans-serif;
    font-family: 'Monsterrat', sans-serif;
    color: white
}

.doc-container {
    max-width: 900px;
    background-color: black
}

.doc-details {
    float: right;
    overflow-wrap: break-word;  
    word-wrap: break-word;     
    white-space: normal;   
    padding-right: 15px;	
	padding-left: 15px;
    width: 50%;
    max-width: 900px;
}

.doc-details h1 {
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: georgia;
    text-align: center;
}

.doc-description {
    float: right;
    padding: 15px;
    margin-top: 20px;
    max-width: 900px;
    width: 90%;
    color: white;
    background-image: linear-gradient(to bottom, rgb(71, 128, 252), rgb(26, 24, 161));
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    max-width: 900px;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: georgia;
}

.doc-description p {
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: georgia;
}

.meta {
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: georgia;
    overflow-wrap: break-word;   
    word-wrap: break-word;      
    white-space: normal;
    color: rgb(255, 255, 255);
    padding-right: 15px;	
	padding-left: 15px;
    margin-top: 20px;
    max-width: 900px;
    width: 90%;
    text-align: center;
    max-width: 900px;
    font-style: italic;
}

.doc-header {
    border-color: white;
    border-radius: 10px;
}